.body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#95215d+0,96205d+8,a1185a+21,b70654+37,ca004d+47,cf004d+51,d3064f+55,d92756+64,df4b5c+78,e26461+90,e47062+100 */
    background: #95215d; /* Old browsers */
    background: -moz-linear-gradient(left, #95215d 0%, #96205d 8%, #a1185a 21%, #b70654 37%, #ca004d 47%, #cf004d 51%, #d3064f 55%, #d92756 64%, #df4b5c 78%, #e26461 90%, #e47062 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #95215d 0%,#96205d 8%,#a1185a 21%,#b70654 37%,#ca004d 47%,#cf004d 51%,#d3064f 55%,#d92756 64%,#df4b5c 78%,#e26461 90%,#e47062 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #95215d 0%,#96205d 8%,#a1185a 21%,#b70654 37%,#ca004d 47%,#cf004d 51%,#d3064f 55%,#d92756 64%,#df4b5c 78%,#e26461 90%,#e47062 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95215d', endColorstr='#e47062',GradientType=1 ); /* IE6-9 */

}

.h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 500;  
    color: black;
    font-style: italic;
    text-shadow: black;
    border: black;
    border-radius:12px;
    text-decoration: underline;
}

.img{
    float: left;
    width: 15%;
    border-radius: 12px;
    padding: 5px;
    margin: 0px 10px 10px 0;
}


